@page
@model IndexModel

@{
    ViewData["Title"] = "Random Password Generator";
}

@using (Html.BeginForm())
{
    <label asp-for="passwordLength">Enter Password Length</label>
    <input type="text" asp-for="passwordLength">
    <div class="form-group">
        <div class="checkbox">
            <label asp-for="useLowerCaseIsChecked">
                <input asp-for="useLowerCaseIsChecked" /> Include Lowercase Letters
            </label>
        </div>
    </div>
    <div class="form-group">
        <div class="checkbox">
            <label asp-for="useUpperCaseIsChecked">
                <input asp-for="useUpperCaseIsChecked" /> Include Uppercase Letters
            </label>
        </div>
    </div>
    <div class="form-group">
        <div class="checkbox">
            <label asp-for="useNumbersIsChecked">
                <input asp-for="useNumbersIsChecked" /> Include Numbers
            </label>
        </div>
    </div>

    <div class="form-group">
        <button type="submit" value="" class="btn btn-primary">Generate Password</button>
    </div>

}

<div class="input-group mb-3">
    <input id="generatedPassword" type="text" asp-for="password">
    <button class="btn btn-secondary" onclick="CopyToClipboard('generatedPassword')">COPY</button>
</div>

<script type="text/javascript">
    //Copy to clipboard function
    function CopyToClipboard(myID) {
        var controlValue = document.getElementById(myID);
        controlValue.select();
        controlValue.setSelectionRange(0, 99999);
        document.execCommand("copy");
    }
</script>
